* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  
}

.logo-left,
.logo-right {
  margin-right: 10px;
}

.logo-left img,
.logo-right img {
  max-width: 80px;
}

.title {
  display: flex;
  align-items: center;
}

.header h1 {
  font-size: 35px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background-color: #f1f1f1;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  background-color: #c6c6c6;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.column {
  flex: 1 1 auto;
}

.form-group {
  margin-bottom: 10px;
  font-size: 13px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;

}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="date"],
select,
input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #28b334;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #2cf33d;
}
textarea {
  resize: vertical;
  width: 100%;
 border-radius: 5px;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}